---
import SiteLayout from '../../layouts/SiteLayout.astro';
import { Image } from 'astro:assets';

import BSAFWriting from '../../../public/assets/images/photography/BSAF_Writing.jpg';
import BrisbaneMuseum from '../../../public/assets/images/photography/Brisbane_Mesum.jpg';
import BrisbaneRiverFireC17 from '../../../public/assets/images/photography/Brisbane_River_Fire_C17.jpg';
import BusesinBrisbane from '../../../public/assets/images/photography/Busess_Brisbane.jpg';
import BlueBusesinBrisbane from '../../../public/assets/images/photography/Busess_Brisbane_blue.jpg';
import Butterflies from '../../../public/assets/images/photography/Butterflies.jpg';
import ColesBaySunset from '../../../public/assets/images/photography/Coles_Bay_Sunset.jpg';
import Drapal from '../../../public/assets/images/photography/Drapal.jpg';
import FishLaneMural from '../../../public/assets/images/photography/Fish_Lane_Mural.jpg';
import FoggyRoad from '../../../public/assets/images/photography/Foggy_road.jpg';
import HuonRiverFranklin from '../../../public/assets/images/photography/Huon_River_Franklin.jpg';
import Lighting from '../../../public/assets/images/photography/Lighting.jpg';
import Lighting2 from '../../../public/assets/images/photography/Lighting_2.jpg';
import MonaTunnel from '../../../public/assets/images/photography/Mona_Tunnel.jpg';
import Mushroom from '../../../public/assets/images/photography/Mushroom.jpg';
import MushroomBlub from '../../../public/assets/images/photography/Mushroom_blub.jpg';
import Mushrooms from '../../../public/assets/images/photography/Mushrooms.jpg';
import PaintandSlam from '../../../public/assets/images/photography/Paint_and_Slam.jpg';
import PaperCranes from '../../../public/assets/images/photography/Paper_cranes.jpg';
import Plane from '../../../public/assets/images/photography/Plane.jpg';
import PortArthurSunset from '../../../public/assets/images/photography/Port_Aruther_Sunset.jpg';
import StoryBridgeGlassBall from '../../../public/assets/images/photography/Story_Bridge_Glass_Ball.jpg';
import Swirl from '../../../public/assets/images/photography/Swirl.jpg';
import ToodSamorowski from '../../../public/assets/images/photography/Tood_Samorowski.jpg';
import WheelonFire from '../../../public/assets/images/photography/Wheel_on_fire.jpg';
import WheresWallyMuralbyEdwin from '../../../public/assets/images/photography/Wheres_Wally_MuralsByedwin.jpg';
import WhitsundaysSunset from '../../../public/assets/images/photography/Whit_Sundays_Sunset.jpg';
import WhitehavenBeachLookout from '../../../public/assets/images/photography/Whitehaven_Beach_lookout.jpg';
import WoodenFlower from '../../../public/assets/images/photography/Wooden_Flowe.jpg';
import Wrap from '../../../public/assets/images/photography/Wrap.jpg';
import BattlesandJams1 from '../../../public/assets/images/photography/jsamophotography_140523_battlesandjams-1.jpg';
import BattlesandJams10 from '../../../public/assets/images/photography/jsamophotography_140523_battlesandjams-10-2265.jpg';
import JsamineCrisp from '../../../public/assets/images/photography/jsamophotography_140523_jsamine_crisp-1215.jpg';

const images = [
  {
    file: BSAFWriting,
    width: 4000,
    height: 6000,
    title: 'BSAF Writing',
    description:
      'A close-up of expressive street art writing from the Brisbane Street Art Festival.',
    aspect_ratio: 0.67,
  },
  {
    file: BrisbaneMuseum,
    width: 4000,
    height: 6000,
    title: 'Brisbane Museum',
    description:
      'A striking view of the Brisbane Museum, showcasing its architecture.',
    aspect_ratio: 0.67,
  },
  {
    file: BrisbaneRiverFireC17,
    width: 6000,
    height: 4000,
    title: 'Brisbane River Fire C17',
    description:
      'A dazzling display of fireworks lighting up the Brisbane River during the Riverfire event.',
    aspect_ratio: 1.5,
  },
  {
    file: BusesinBrisbane,
    width: 4592,
    height: 3056,
    title: 'Buses in Brisbane',
    description:
      "A snapshot of Brisbane's bustling public transport with buses in motion.",
    aspect_ratio: 1.5,
  },
  {
    file: BlueBusesinBrisbane,
    width: 4592,
    height: 3056,
    title: 'Blue Buses in Brisbane',
    description:
      'Bright blue buses navigating the streets of Brisbane under a clear sky.',
    aspect_ratio: 1.5,
  },
  {
    file: Butterflies,
    width: 4592,
    height: 3056,
    title: 'Butterflies',
    description:
      'A delicate capture of butterflies fluttering in their natural habitat.',
    aspect_ratio: 1.5,
  },
  {
    file: ColesBaySunset,
    width: 5865,
    height: 3910,
    title: 'Coles Bay Sunset',
    description:
      'A tranquil sunset over Coles Bay, with hues of orange and pink reflecting on the water.',
    aspect_ratio: 1.5,
  },
  {
    file: Drapal,
    width: 4000,
    height: 4939,
    title: 'Drapal',
    description:
      'An intriguing abstract piece featuring flowing drapal patterns.',
    aspect_ratio: 0.81,
  },
  {
    file: FishLaneMural,
    width: 1929,
    height: 2340,
    title: 'Fish Lane Mural',
    description:
      'A vibrant mural adorning the walls of Fish Lane, full of color and creativity.',
    aspect_ratio: 0.82,
  },
  {
    file: FoggyRoad,
    width: 1600,
    height: 1064,
    title: 'Foggy Road',
    description:
      'A serene photograph capturing a quiet, foggy road winding through the landscape.',
    aspect_ratio: 1.5,
  },
  {
    file: HuonRiverFranklin,
    width: 3790,
    height: 5516,
    title: 'Huon River Franklin',
    description:
      'A peaceful scene of the Huon River flowing through Franklin, surrounded by nature.',
    aspect_ratio: 0.69,
  },
  {
    file: Lighting,
    width: 1920,
    height: 1280,
    title: 'Lighting',
    description:
      'A striking photograph highlighting unique lighting patterns and shadows.',
    aspect_ratio: 1.5,
  },
  {
    file: Lighting2,
    width: 1920,
    height: 1280,
    title: 'Lighting 2',
    description:
      'Another captivating exploration of light and shadow in a creative composition.',
    aspect_ratio: 1.5,
  },
  {
    file: MonaTunnel,
    width: 4000,
    height: 6000,
    title: 'Mona Tunnel',
    description:
      'A mysterious tunnel within the Museum of Old and New Art, evoking curiosity.',
    aspect_ratio: 0.67,
  },
  {
    file: Mushroom,
    width: 3807,
    height: 5710,
    title: 'Mushroom',
    description: 'A detailed close-up of a lone mushroom growing in the wild.',
    aspect_ratio: 0.67,
  },
  {
    file: MushroomBlub,
    width: 4592,
    height: 3056,
    title: 'Mushroom Blub',
    description:
      'A macro shot focusing on the bulb of a mushroom, showcasing its texture.',
    aspect_ratio: 1.5,
  },
  {
    file: Mushrooms,
    width: 4000,
    height: 6000,
    title: 'Mushrooms',
    description:
      'A group of mushrooms captured in their natural environment, rich in detail.',
    aspect_ratio: 0.67,
  },
  {
    file: PaintandSlam,
    width: 3161,
    height: 6000,
    title: 'Paint and Slam',
    description:
      'An energetic moment from a Paint and Slam event, blending art and performance.',
    aspect_ratio: 0.53,
  },
  {
    file: PaperCranes,
    width: 6000,
    height: 4000,
    title: 'Paper Cranes',
    description:
      'A collection of intricately folded paper cranes, symbolizing peace and hope.',
    aspect_ratio: 1.5,
  },
  {
    file: Plane,
    width: 3974,
    height: 5452,
    title: 'Plane',
    description: 'A dynamic shot of a plane soaring through the sky.',
    aspect_ratio: 0.73,
  },
  {
    file: PortArthurSunset,
    width: 3968,
    height: 5952,
    title: 'Port Arthur Sunset',
    description:
      'A vibrant sunset painting the sky over the historic Port Arthur site.',
    aspect_ratio: 0.67,
  },
  {
    file: StoryBridgeGlassBall,
    width: 6000,
    height: 4000,
    title: 'Story Bridge Glass Ball',
    description:
      'A creative perspective of Story Bridge captured through a glass ball lens.',
    aspect_ratio: 1.5,
  },
  {
    file: Swirl,
    width: 1600,
    height: 1064,
    title: 'Swirl',
    description:
      'An artistic photograph of swirling patterns, full of motion and color.',
    aspect_ratio: 1.5,
  },
  {
    file: ToodSamorowski,
    width: 5790,
    height: 3860,
    title: 'Tood Samorowski',
    description:
      'A candid or posed portrait of Tood Samorowski, capturing their essence.',
    aspect_ratio: 1.5,
  },
  {
    file: WheelonFire,
    width: 1428,
    height: 1600,
    title: 'Wheel on Fire',
    description:
      'A dramatic image of a Ferris wheel illuminated by fiery effects.',
    aspect_ratio: 0.89,
  },
  {
    file: WheresWallyMuralbyEdwin,
    width: 3885,
    height: 4783,
    title: "Where's Wally Mural by Edwin",
    description:
      "A playful 'Where's Wally' themed mural created by artist Edwin.",
    aspect_ratio: 0.81,
  },
  {
    file: WhitsundaysSunset,
    width: 5814,
    height: 3876,
    title: 'Whitsundays Sunset',
    description:
      'A breathtaking sunset over the Whitsunday Islands, with a calm sea horizon.',
    aspect_ratio: 1.5,
  },
  {
    file: WhitehavenBeachLookout,
    width: 5532,
    height: 3258,
    title: 'Whitehaven Beach Lookout',
    description:
      'A stunning aerial view from the Whitehaven Beach lookout, showcasing pristine sands.',
    aspect_ratio: 1.7,
  },
  {
    file: WoodenFlower,
    width: 4000,
    height: 5674,
    title: 'Wooden Flower',
    description:
      'A beautifully crafted wooden flower, blending nature and artistry.',
    aspect_ratio: 0.7,
  },
  {
    file: Wrap,
    width: 1600,
    height: 1064,
    title: 'Wrap',
    description:
      'An abstract photograph featuring a wrapping pattern or object.',
    aspect_ratio: 1.5,
  },
  {
    file: BattlesandJams1,
    width: 4000,
    height: 6000,
    title: 'Battles and Jams 1',
    description:
      'A lively moment captured during the Battles and Jams event on May 14, 2023.',
    aspect_ratio: 0.67,
  },
  {
    file: BattlesandJams10,
    width: 6000,
    height: 4000,
    title: 'Battles and Jams 10',
    description:
      'An intense action shot from Battles and Jams, taken by J Samo Photography.',
    aspect_ratio: 1.5,
  },
  {
    file: JsamineCrisp,
    width: 4000,
    height: 6000,
    title: 'Jsamine Crisp',
    description:
      'A thoughtful portrait of Jsamine Crisp, photographed on May 14, 2023.',
    aspect_ratio: 0.67,
  },
];
---

<SiteLayout title='Photography'>
  <div
    class='masonry-container mt-16 columns-2 gap-2 sm:columns-3 lg:columns-5'
  >
    {
      images.map((image) => (
        <div class='mb-1 break-inside-avoid'>
          <Image
            src={image.file}
            alt={image.description}
            title={image.title}
            class='h-auto max-h-[400px] w-full max-w-[300px] rounded-lg object-cover object-center'
            decoding='async'
            loading='lazy'
            sizes='(max-width: 640px) 100vw, (max-width: 1024px) 50vw, 33vw'
            width={400}
            height={400}
            format='webp'
            quality={80}
          />
        </div>
      ))
    }
  </div>
</SiteLayout>
