/* important parts for all of the webs~ite*/
html{
    scroll-behavior: smooth;
}

body{
    background-image: url(assets/images/1.jpg);
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif, ;
    
}
/* start of items for just the page */
