/* ======================== */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background: #272727;
    min-height: 100vh;
}

.navbar{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #353535;
    padding: 32px 0;
    text-align: center;
    color: #fff;
    font-size: 15px;
    padding-block: 15px
}
.navbar a{
    text-decoration: none;
    color: inherit;
}

.logo{
    margin-right: 20px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
}



section{
    padding: 40px 0;
    text-align: center;
}
/*==========================*/
@media screen and (max-width: 600px){
    .menu{
        width: 100%;
        max-height: 0; 
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .menu.active{
        max-height: 100%;
    }
    
    .nav-menu {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    .nav-menu .line{
        display: block;
        width: 20px;
        height: 2px;
        margin-block: 5px;
        background-color: #fff;
        border-radius: 2px;
        transition: all .5s ease-in-out;
    }
    
    .nav-menu.active .line:nth-child(1){
        transform: translateY(7px) rotate(45deg);
    }
    .nav-menu.active .line:nth-child(2){
        transform: translateX(-25px);
        background: transparent;
        opacity: 0;
    }
    
    .nav-menu.active .line:nth-child(3){
        transform: translateY(-7px) rotate(-45deg);
    }

}



