/* ======================== */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Times New Roman', Times, serif, sans-serif; 
}

nav li{
    list-style-type: none;
    text-align: center;
    float: left;
    width: 8%;
    margin-right: 20px;
}
nav li a {
    text-decoration: none;
    color: black;
}


/* ======================== */
