/* ======================== */
html{
    scroll-behavior: smooth;
}

body{
    background-image: url(.assets/images/1.jpg);
    width: 100%;
    height: 100%;
    
}

nav li{
    list-style-type: none;
    text-align: center;
    float: left;
    width: 8%;
    margin-right: 20px;
}
nav li a {
    text-decoration: none;
    color: black;
}


/* ======================== */
