---
import { getCollection } from 'astro:content';
import SiteLayout from '../../layouts/SiteLayout.astro';

const posts = await getCollection('daily-ui');
---

<SiteLayout
  title='Daily Ui'
  description='Daily UI is a collection of daily UI designs'
>
  <div class='mx-auto grid grid-cols-2 justify-center gap-4'>
    {
      posts.map((post) => (
        <a href={`/daily-ui/${post.slug}/`} class='block w-full'>
          <h3 class='text-md max-w-full text-balance text-center font-bold'>
            {post.data.title}
          </h3>
          {post.data.heroImage && (
            <img
              src={post.data.heroImage}
              alt={post.data.title}
              class='-z-20 w-full rounded-xl object-cover object-center'
            />
          )}
        </a>
      ))
    }
  </div>
</SiteLayout>
