---
import SiteLayout from '../../layouts/SiteLayout.astro';
---

<SiteLayout title="Daily Ui" description="Daily UI is a collection of daily UI designs I've made over the years. I've also made a few other UI designs that I've collected over the years.">
    <h1>Daily Ui</h1>
</SiteLayout>