---
import HeaderLink from './HeaderLink.astro';
---

<nav class='fixed top-2 z-50 flex w-full items-center justify-between'>
  <div
    class='mx-auto flex items-center justify-center gap-4 rounded-lg bg-gradient-to-tr to-transparent p-2 shadow-lg backdrop-blur-lg backdrop-filter'
  >
    <HeaderLink href='/'>Home</HeaderLink>
    <HeaderLink href='/photography'>Photography</HeaderLink>
    <HeaderLink href='/blog'>Blog</HeaderLink>
  </div>
</nav>
